

<html>
    <head>
    </head>
      <body>
        <main>
           <p id ="notice">
             <%= flash[:notice] %>
           </p> 
           <div class="container">
             
              <div class="row">
                  <img src="/app/assets/images/hilla-5419527_1280.jpg" alt="画像の説明">
                <h1 class=" px-3 mx-auto">
                   Welcome to
                 <strong>Green Tea Club!</strong>
                </h1>
              
             </div>
             <div>
                 <p>会員登録ありがとうございます！</p>
                 <p>---------------------------</p>
                 <p>---------------------------------------------</p>
                 <p>-----------------</p>
                 <p>---------------------------------</p>
             </div>
             <div class="btn-wrapper col-5 mx-auto">
               <div class="row">
                 <a class="btn btn-info btn-sm btn-block mb-3" href="/posts">TIME LINEへ</a>
               </div>
               <div class="row">
                 <a class="btn btn-success btn-sm btn-block " href='/users/<%= current_user.id %>'>My ページへ</a>
             </div>
           </div>
        </main>
      </body>   
    
</html>