

.nav-item {
  padding: 6px;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.custom-link:hover {
    background-color: #808080;
    color: #333;
    
  }

.navbar-brand {
  font-size: 30px;
}





li {
  list-style-type: none; /* リストマーカーを非表示にする */
}