<html>
     <body>
          <main>
               <p id ="notice">
                  <%= flash[:notice] %>
               </p>
                        <div>
                            <p>Welcome to Green Tea Club...</p>
                            <p>日本茶でほっとひといき<i class="fa-brands fa-pagelines"></i></p>
                            <p>皆さんのおすすめのお茶やお店をつぶやいて共有しよう</p>
                            <p>登録してスタート！！</p>
                        </div>
          </main>
     </body>
</html>
